#map {
	height: 365px;
    background-color: grey;
}
#namelogo {
	display: block; 
	margin: auto;
	margin-bottom: 4.5%;
}
#contactmethods {
	font-size: 34px;
}
#contactmethods i{
	font-size: 38px;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}

h3{
	margin-top: 40px;
}

.container {
	max-width: 1170px;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

	
div figure img{
	width: 95%;
}

figure {
    text-align: center;
    display: table;
    max-width: 95%; /* demo; set some amount (px or %) if you can */
    margin: 10px auto; /* not needed unless you want centered */
}
	
figcaption{
	margin-bottom: 15px;
	text-align: center;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.2em 0;
    padding: 0;
}
.indent{
	margin-left: 20px;
}
.myshadow{
	box-shadow: 2px 2px 5px grey;
}
.img-reponsive{
	margin-bottom: 5px;
}
.numberCircle {
	border-radius: 50%;
	width: 35px; 
	height: 35px;
	font-size: 30px;
	border: 3px solid black;
	float: left;
	margin-right: 10px;
	margin-top: 4px;
	background-color: black;
	color: white;
	margin-top: 22px;
}
.numberCircle span {
	text-align: center;
	line-height: 29px;
	display: block;
}
.pop {
	cursor: zoom-in;
	margin-top: 10px;
	margin-bottom: 15px;
}
.modal-dialog {
	  position: relative;
	  width: auto;
	  max-width: 80%;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 1%;
}

.panel-hover > div:hover{
	margin-top: -2px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}

.row a:hover{
	color: inherit !important;
}
a:hover{
	color: #0082AA !important;
}
.navbar  {
	border: 0;
	border-radius: 0;
	font-size: 17px;
	display: inline-block;
	float: right;
	letter-spacing: 1.5px;
}
.navbar-nav  li a:hover {
	color: #0082AA !important;
	margin-top: -10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}
.activepage {
	margin-top: -2px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
}

.navbar-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.footer {
	position: absolute;
	width: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}
.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

@media (max-width:768px)
{
	#md-float-fix{ 
		float: none !important;
	}
	#md-text-align-center{ 
		text-align: center;
	}
}

}
@media (min-width:768px)
{
	#md-float-fix{ 
		float: right !important;
	}
}
@media (min-width:992px) /*Changes the letter spacing on the menu items so they don't start stacking*/
{
	.navbar  {
		letter-spacing: 5px;
	}
}
@media (max-width:450px) /*Resizes font size on contact page*/
{
	#contactmethods {
		font-size: 6.6vw !important;
	}
	#contactmethods i {
	font-size: 6.9vw !important;
	}
}

