h1{
	font-family: "helvetica", sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}
h2{
	font-family: "helvetica", sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}
h3{
	font-family: "helvetica", sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}
p {
	font-family: "helvetica", sans-serif;
	font-size: 1.1em;
	line-height: 170%;
	margin-bottom: 20px;
}
ul {
	font-family: "helvetica", sans-serif;
	font-size: 1.3em;
	line-height: 170%;
	margin-bottom: 20px;
}
ol {
	font-family: "helvetica", sans-serif;
	font-size: 1.3em;
	line-height: 170%;
	margin-bottom: 20px;
}
a {
	color: #0082AA;
}
#topbar {
	height: 20%; 
	margin: 0; 
	padding: 15px;
	box-shadow: 2px 2px 5px grey;
	background-color: #050405;
	background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
}
#map {
	height: 365px;
    background-color: grey;
}

#contactmethods {
	font-size: 1.4em;
	white-space: nowrap;
}
#panelnfbio{
	width: 100%; 
	height: 100%; 
	background-color: white; 
	background-image: url("../images/nfbioiphonemockup.png"); 
	background-position: center; 
	background-size: cover;
	border-radius: 5px 5px 0 0;
}
#panelvolume{
	width: 100%; 
	height: 100%; 
	background-color: white; 
	background-image: url("../images/localheroesdesktopmockup.png"); 
	background-position: center; 
	background-size: cover;
	border-radius: 5px 5px 0 0;
}
#panelrbu{
	width: 100%; 
	height: 100%; 
	background-color: black; 
	background-image: url("../images/redbarnetvegas.png"); 
	background-position: center; 
	background-size: cover;
	border-radius: 5px 5px 0 0;
}
.customhover{
	position: relative;
	display: inline-block;
	border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);	
}

.customhover::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.customhover:hover {
  -webkit-transform: scale(1.005, 1.05);
  transform: scale(1.05, 1.05);
  z-index: 1;
}

.customhover:hover::after {
    opacity: 1;
}

.customshadow {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.customshadow::after {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}

h3{
	margin-top: 40px;
}

.container {
	max-width: 1170px;
	padding-left: 15px !important;
	padding-right: 15px !important;
}
	
div figure img{
	width: 95%;
}

figure {
    text-align: center;
    display: table;
    max-width: 95%; /* demo; set some amount (px or %) if you can */
    margin: 10px auto; /* not needed unless you want centered */
}
	
figcaption{
	margin-bottom: 15px;
	text-align: center;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.2em 0;
    padding: 0;
}

.indent{
	margin-left: 20px;
}
.myshadow{
	box-shadow: 2px 2px 5px grey;
}
.img-reponsive{
	margin-bottom: 5px;
}
.numberCircle {
	border-radius: 50%;
	width: 35px; 
	height: 35px;
	font-size: 30px;
	border: 3px solid black;
	float: left;
	margin-right: 10px;
	background-color: black;
	color: white;
	margin-top: 14px;
}
.numberCircle span {
	text-align: center;
	line-height: 29px;
	display: block;
}
.pop {
	cursor: zoom-in;
	margin-top: 10px;
	margin-bottom: 15px;
}
.modal-dialog {
	  position: relative;
	  width: auto;
	  max-width: 80%;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 1%;
}

.navbar  {
	border: 0;
	border-radius: 0;
	font-size: 0.9em;
	display: inline-block;
	float: right;
	letter-spacing: 1.5px;
}

.nav-pills a{
	color: white;
}

.navbar-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 5px;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: rgba(0, 0, 0, 0);
	text-decoration: underline;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: white;
	border-width: 1px;
}
.btn-default {
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: white;
	border-width: 1px;
	color: white;
}
.btn-default:hover {
	color: black;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	color: black;
}
.footer {
	position: absolute;
	width: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	color: gray;
	background-color: #050405;
	background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
	text-align: center;
}
.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.name {
    font-size:3.9em !important;
    text-align:left;
    font-family: "Libre Baskerville", serif;
	font-weight: normal;
	letter-spacing: 1px;
	white-space: nowrap;
    color:white !important;
	margin: 0;
}
    

@media (max-width:768px)
{
	#md-float-fix{ 
		float: none !important;
	}
	#md-text-align-center{ 
		text-align: center;
	}
	.name {
		font-size: 2.8em !important;
		text-align: center;
		margin-top: 7px;
	}
}

}
@media (min-width:768px)
{
	#md-float-fix{ 
		float: right !important;
	}
}

@media (max-width:992px)
{
	.navbar-nav {
		margin-top: 5px;
	}
}

@media (min-width:992px)
{
	.navbar  { /*Changes the letter spacing on the menu items so they don't start stacking*/
		letter-spacing: 5px;
	}
}

.active {
	color: white;
}
